<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="assets/style.css">
		<link rel="stylesheet" href="assets/icomoon/style.css">
	</head>
	<body data-check-state="{{check_state_json}}">
		<noscript>
			<p>Enable Javascript, please&hellip;</p>
			<ul>
				{{#each checks}}
					<li>
						{{desc}}: {{last_state}}
						<ul style="max-height: 40vh; overflow: auto;">
							{{#each log}}
								<li>
									<span class="timestamp" data-time="{{time}}">{{time}}</span>: <code>{{state}}</code> <code>{{info}}</code>
								</li>
							{{/each}}
						</ul>
					</li>
				{{/each}}
			</ul>
		</noscript>
		<script>
			let div = document.createElement('div');
			div.innerHTML = 'Loading&hellip;';
			document.body.appendChild(div);
		</script>
		<script src="assets/script.js"></script>
	</body>
</html>
